<!-- <ul>
    <li *ngFor="let hotel of hotels">
    <a [routerLink]="['detail', hotel.id]">{{hotel.name}}</a>    
    </li>
</ul> -->


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Hotels</title>

</head>

<body>
  
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">List Hotel</h1>
        <a routerLink="add-hotel"><h4>Add new</h4></a>
        <!-- Blog Post -->
        <div class="card mb-4 mt-4" *ngFor="let hotel of hotels">
          <img class="" [src]="hotel.image" height="300px">
          <div class="card-body">
            <h3 class="card-title"><a [routerLink]="['detail', hotel.id]">{{hotel.name}}</a></h3>
            <p class="card-text">{{hotel.description}}</p>
            <a [routerLink]="['detail', hotel.id]">More...</a>
          </div>
          <!-- <div class="card-footer text-muted">
            Posted on January 1, 2020 by
            <a href="#">Start Bootstrap</a>
          </div> -->
        </div>



      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-lg-4" style="margin-top: 67px;">
         <!-- Categories Widget -->
          <h3 class="my-4">Category</h3>
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="#">Hotel <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span></a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">Hotel <span class="text-warning">&#9733; &#9733; &#9733; &#9733;</span></a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">Hotel <span class="text-warning">&#9733; &#9733; &#9733;</span></a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">Hotel <span class="text-warning">&#9733; &#9733;</span></a>
                  </li>
                </ul>
  
        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">ADS</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
